@use "./scss/variables/_colors.scss" as c;
@use "./scss/mixins/media.scss" as m;

.container {
  position: relative;
  height: 100dvh;
  width: 100dvw;
  display: flex;
  flex-direction: column;
  gap: 120px;
  align-items: center;
  justify-content: center;
  &::before {
    content: "";
    position: absolute;
    inset: 0;
    width: 50%;
    height: 100%;
    background: conic-gradient(from 90deg, c.$white, c.$charcoal);
    z-index: -1;
  }
  &::after {
    content: "";
    position: absolute;
    top: 0;
    width: 50%;
    right: 0;
    height: 100%;
    background: conic-gradient(from -90deg, c.$charcoal, c.$white);
    z-index: -1;
  }
}

.input {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  flex: 1;
  width: 100%;

  &__textarea {
    background-color: transparent;
    border: none;
    color: c.$text-light;
    text-transform: uppercase;
    text-align: center;
    resize: none;
    field-sizing: content;
    min-width: 50%;
    max-width: 80%;
    font-size: 1rem;
    overflow: hidden;

    @include m.lg {
      font-size: 1.5rem;
    }

    &::placeholder {
      opacity: 0.8;
      font-size: 0.8rem;
    }

    &:focus-visible {
      outline: none;
      outline-offset: 4px;
    }

    @include m.lg {
      width: 50%;
    }
  }
}

.output {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  flex: 1;
  min-width: 50%;
  max-width: 80%;
  font-size: 0.7rem;
  font-weight: 900;
  color: c.$text-sharp;
  @include m.lg {
    width: 50%;
    font-size: 0.9rem;
  }
}

.bg-noise {
  position: absolute;
  inset: 0;
  z-index: 2;
  opacity: 0.2;
  pointer-events: none;
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 256 256' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='n'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.75' numOctaves='4' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23n)'/%3E%3C/svg%3E");
  background-repeat: repeat;
  background-size: 256px 256px;
  animation: grain 0.8s steps(1) infinite;
}

// @keyframes grain {
//   0% {
//     background-position: 0 0;
//   }
//   10% {
//     background-position: 17% -43%;
//   }
//   20% {
//     background-position: -38% 22%;
//   }
//   30% {
//     background-position: 55% -11%;
//   }
//   40% {
//     background-position: -72% -35%;
//   }
//   50% {
//     background-position: 8% 50%;
//   }
//   60% {
//     background-position: -45% -8%;
//   }
//   70% {
//     background-position: 63% 30%;
//   }
//   80% {
//     background-position: -15% -55%;
//   }
//   90% {
//     background-position: 33% 15%;
//   }
//   100% {
//     background-position: 0 0;
//   }
// }

.glass {
  position: absolute;
  height: 40px;
  width: 55%;
  background: radial-gradient(
    ellipse at center,
    rgba(255, 255, 255, 0.3) 0%,
    transparent 70%
  );
  border-radius: 100%;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}
